:root{

    --cor_um: #ffffff;
    --cor_dois: #f5f5f5;
    --cor_tres: #001919;
    --cor_quatro: #38383b;

    --tipografia_primaria: "Poppins", sans-serif;
}

.container_eventos{

    display: flex;
    flex-direction: column;

    height: 80vh;

    background-color: var(--cor_quatro);
}

.container_eventos h2{

    display: flex;
    justify-content: center;

    padding-top: 10vh;
    margin-bottom: 0vw;

    font-family: var(--tipografia_primaria);
    font-size: 3vw;

    color: var(--cor_um);
}

.container_eventos_cards{

    height: 80vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    font-family: var(--tipografia_primaria);

    color: var(--cor_um);
}

.container_evento_a{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_evento_a p{

    font-family: var(--tipografia_primaria);
    font-size: 1.2vw;

    padding-bottom: 2vh;
}

.container_evento_hora_a{

    width: 5vw;
}

.container_evento_a h3{

    display: flex;

    width: 10vw;

    font-family: var(--tipografia_primaria);
    font-size: 2.5vw;
}

.container_evento_b{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_evento_b p{

    font-family: var(--tipografia_primaria);
    font-size: 1.2vw;

    padding-bottom: 2vh;
}

.container_evento_hora_b{

    display: flex;
    text-align: center;

    margin-right: 1.5vw;

    width: 5vw;
}

.container_evento_b h3{

    display: flex;

    width: 10vw;

    font-family: var(--tipografia_primaria);
    font-size: 2.5vw;
}

.container_evento_c{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_evento_c p{

    font-family: var(--tipografia_primaria);
    font-size: 1.2vw;

    padding-bottom: 2vh;
}

.container_evento_hora_c{

    display: flex;
    text-align: center;

    width: 5vw;
}

.container_evento_c h3{

    display: flex;

    width: 15vw;

    font-family: var(--tipografia_primaria);
    font-size: 2.5vw;
}

.container_evento_d{

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 5vw;
}

.container_evento_hora_d{

    display: flex;
    text-align: center;

    width: 5vw;
}

.container_evento_d p{

    font-family: var(--tipografia_primaria);
    font-size: 1.2vw;

    padding-bottom: 2vh;
}

.container_evento_d h3{

    display: flex;

    width: 10vw;

    font-family: var(--tipografia_primaria);
    font-size: 2.5vw;
}